[user]
    name  = Erik Johnson
    email = ej@ucar.edu

[push]
    # upstream - push the current branch to its upstream branch.
    default = upstream

[core]
    # set git diff to wrap lines
    # http://durdn.com/blog/2012/12/05/git-12-curated-git-tips-and-workflows/
    pager = less -r

    excludesfile = ~/.gitignore-global

[color]
    ui = auto

[include]
    path = ~/.gitconfig.aliases

[github]
    user = erikj
    password = !~/bin/ghpw
