[user]
    name  = Erik Johnson
    email = ej@ucar.edu

[push]
    # upstream - push the current branch to its upstream branch.
    default = upstream

[core]
    # set git diff to wrap lines
    # http://durdn.com/blog/2012/12/05/git-12-curated-git-tips-and-workflows/
    pager = less -r

    excludesfile = ~/.gitignore-global

[color]
    ui = auto

[alias]
    ss = status
    s  = status -sb
    cl = config --list
    a  = add
    ci = commit
    co = checkout
    d  = diff
    ds = diff --cached # diff staged changes
    p  = push
    b  = branch
    ba = branch -a       # list all branches
    bav = branch -a -v   # list all branches, verbosely
    bavv = branch -a -vv # list all branches, verbosely, list upstream branch
    m  = merge --no-ff
    ll = log --graph --numstat --abbrev-commit
    l  = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s.%C(white) %an, %ar%Creset'
    lp = log -p
    today = log -p --since '1 day ago' # show committed changes from last 24h

    unstage = reset HEAD
    u       = reset HEAD

    develop = checkout develop
    master  = checkout master
