[user]
    name  = Erik Johnson
    email = ej@ucar.edu

[core]
    editor = emacs

[color]
    ui = auto

[alias]
    ss = status
    # s  = status -sb # not in git 1.7.1
    s  = status -s
    cl = config --list
    a  = add
    ci = commit
    co = checkout
    d  = diff
    ds = diff --cached # diff staged changes
    p  = push
    b  = branch
    m  = merge --no-ff
    ll = log --graph --numstat --abbrev-commit
    l  = log --graph --numstat --decorate --pretty=oneline --abbrev-commit
    ba = branch -a # list all branches

    unstage = reset HEAD
    u       = reset HEAD
